/* Dark mode */
.dark-mode {
    color: white;
    background-color: #272727;
}

/* Search */
.dark-mode .search {
    background-color: #272727;
}
.search {
    padding: 1%;
    position: relative;
    text-align: center;
}
.search input[type="text"] {
    width: 80%;
    outline: none;
    padding: 15px;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 3px solid #666666;
}
.search a {
    top: 50px;
    margin-top: 10px;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 4px;
    align-items: center;
    display: inline-flex;
    margin-right: 0.5rem;
    padding: 0.2rem 0.4rem;
    background-color: #CCCCCC;
}
.dark-mode .article-list {
    color: white;
    background-color: #272727;
}
.article-list li {
    width: 80%;
    padding: 20px;
    display: table;
    margin: 0 auto;
    transition: 0.5s;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: white;
}
.dark-mode .article-list li {
    width: 80%;
    padding: 20px;
    display: table;
    margin: 0 auto;
    transition: 0.5s;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #333333;
}
.article-list li:hover {
    transform: scale(0.99);
}
.article-list a {
    font-size: 25px;
}
.article-list span {
    float: right;
}
.hashtag {
    color: #0077BE;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 4px;
    margin-right: 0.5rem;
    padding: 0.2rem 0.4rem;
    background-color: #CCCCCC;
}

/* Article Content */

.article-line {
    width: 70%;
    height: 2px;
    margin: 0 auto;
    background: linear-gradient(to right, #4CC9F0, #7209B7);
}
h1 {
    padding: 1%;
    text-align: center;
}
.source {
    color: darkgray;
    text-align: center;
}
img {
    width: 80%;
    margin: 0 auto;
    display: block;
}
.link a {
    display: block;
}
code {
    padding: 5px;
    border-radius: 5px;
    color: white!important;
    background-color: black;
}