#body {
    background-color: #E5E5E5;
}
/* Dark mode */

.dark-mode {
    color: white;
    background-color: #272727;
}
.i {
    position: relative;
}
.fa-moon {
    top: 0;
    right: 5%;
    position: absolute;
}

/* Basic label */

ul, li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

/* Nav */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 
nav {
    width: 100%;
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 0 5%;
    align-items: center;
    background: #1B1B1B;
    justify-content: space-between;
}
nav .logo {
    color: white;
    font-size: 35px;
    font-weight: 600;
}
input[type="checkbox"] {
    display: none; /*Remove checkbox*/
}
nav .menu i {
    display: none;
    color: white;
}
nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
nav ul li {
    margin-right: auto;
}
nav ul li a {
    font-size: 20px;
    color: #F2F2F2;
    padding: 10px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover {
    color: black;
    background: white;
    text-decoration: none;
}
nav ul li i {
    top: 10;
    right: 5%;
    color: white;
    position: absolute;
    transform: translateY(-50%);
}

/* Intro */

.col-12 {
    padding: 3%;
    font-size: 20px;
    text-align: center;
}

/* Footer */

footer {
    width: 100%;
    padding: 50px 5%; /* Height Border */
    text-align: left;
    box-sizing: border-box;
    background-color: #1B1B1B;
    font: normal 15px sans-serif;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
footer .footer-copyright p {
    margin: 0;
    font-size: 20px;
    line-height: 1.5;
    color: #8F9296;
}
footer .footer-pages {
    padding: 0;
    color: white;
    font-size: 20px;
    margin: 0 0 10px;
    font-weight: bold;
    transition: ease .25s;
}
footer .footer-pages a {
    line-height: 1.5;
    transition: ease .25s;
    text-decoration: none;
    display: inline-block;
}
footer .footer-social-media {
    float: right;
    margin-top: 5px;
    max-width: 180px;
}
footer .footer-social-media a {
    width: 35px;
    height: 35px;
    color: white;
    font-size: 20px;
    margin-left: 3px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    transition: all .25s;
    display: inline-block;
    background-color: #33383B;
}
footer .footer-social-media a:hover {
    transform: scale(1.1); 
    -webkit-transform: scale(1.1);
}